canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.container {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.btn {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.hcor {
	color: #ff0000;
}

.replay {
	color: black;
	background-color: cyan;
}